/* CSS for the Bridge*/


body {
	background:url('bg.jpg') no-repeat fixed center 100%;
	font-family: verdana, sans-serif;
	position: relative;
	font-size:100%;
	position: relative;
	
	
}

		
p {
font-size:1em;
color:#424242;
margin-right: 30px;

}

		
h1{
font-size:2.5em;
color:#424242;
}

h2{
font-size:2em;
color:#424242;
}

h3{
font-size:1.5em;
color: #424242;

}

h4{
font-size:1.25em;
color: #424242;

}


#wrapper {
	width:800px;
	margin:0px auto;
	background-color:#fff;
	opacity:0.95;
	position: relative;

}

#header {
	background-color:#edc2d1;
	color:#424242;
	padding:15px;
	text-align:right
	
}

#topnav {
	width:800px;
	float:left;
	background:#582BC1;
}

#topnav ul {
	margin:0;
	padding:0;
}

#topnav ul li {
	list-style-type:none;
	display:inline;
	
}

#topnav ul li a {
	display:block;
	padding:8px 18px;
	float:left;
	color:#fff;
	text-decoration:none;
	border-right:1px #fff solid;
}

#topnav a:hover {
	background-color:#290777;
}

#topnav #currentpage a {
color: #ff9900;
}

#content-wrapper {
	float:left;
	width:800px;
	background-color:#EBEAFF;

}

#leftsidebar {
	float:left;
	width:20%;
	padding:20px 0px 10px 10px;
	

}

#content {
	float:right;
	width:75%;
	padding:20px 10px;
	background-color:#fff;
	
}


.button {
     /*Basic Button Styling*/
    display: block;
    height: 100px;
    width: 350px;
 	border-top: 2px solid #8655F5;
   	background: #4B0DD7;
    background: -webkit-gradient(linear, left top, left bottom, from(#763EF4), to(#4B0DD7));
	background: -webkit-linear-gradient(top, #763EF4, #4B0DD7);
	background: -moz-linear-gradient(top, #763EF4, #4B0DD7);
	background: -ms-linear-gradient(top, #763EF4, #v);
	background: -o-linear-gradient(top, #763EF4, #4B0DD7);
 	-webkit-border-radius: 14px;
 	-moz-border-radius: 14px;
 	border-radius: 14px;
 	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
 	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
 	box-shadow: rgba(0,0,0,1) 0 1px 0;
 	vertical-align: middle;
     
    /*Button Text Styling*/
    color: rgba(0, 0, 0, 0.55);
    text-align: center;
    font: 24px/100px "verdana", sans-serif;
    color: #fff;
}
 
/*Button Link Styling*/
a.button {
     text-shadow: rgba(0,0,0,.4) 0 1px 0;
     text-decoration: none;
}

.button:hover {
   border-top-color: #320890;
   background: #210660;
   color: #ccc;
}


#footer {
	clear:both;
	background-color:#170441;
	padding:10px;
	text-align:center;
	color:#fff;
	font-size: 80%;

}



/* ----------- Event Suggestion Fields, Buttons, & Messages ----------- */


label {
display:block;
font-weight: bold;
text-align: right;
width: 140 px;
float: left;
margin-top: 8px;
margin-left: 10px;
padding: 0px 14px 0px 0px;
}

input {
	float: left;
	font-size: 1em;
	padding: 5px 5px;
	border:solid 1px #696969;
	width: 200 px;
	margin: 0px 0 20px 20px;
	padding: 7px;
  	-webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
  	-moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
  	box-shadow: inset 2px 2px 2px 0px #dddddd;
}

textarea {
	float: left;
	font-family: inherit;
   	font-size: inherit;
	padding: 5px 5px;
	margin-top: 5px;
	border:solid 1px #696969;
	width: 200 px;
	margin: 0px 0px 20px 10px;
	padding: 7px;
	box-shadow: inset 0 0 2px #696969;
	-webkit-border-radius: 5px;
	border-radius: 5px; 
}


.error{
	margin:auto;
	margin-left:180px;
	width:50%;
	font-size: 1em;
	color: #CC0000;
}

.success{
	margin:auto;
	margin-left:200px;
	width:50%;
	font-size: 1.25em;
	color: #582BC1;
}



button {	
	float: right;
	margin-right:66px;
	display:block;
	/*margin-left:200px;*/
	width:125px;
	height:45px;
	border-top: 2px solid #8655F5;
   	background: #4B0DD7;
    background: -webkit-gradient(linear, left top, left bottom, from(#763EF4), to(#4B0DD7));
	background: -webkit-linear-gradient(top, #763EF4, #4B0DD7);
	background: -moz-linear-gradient(top, #763EF4, #4B0DD7);
	background: -ms-linear-gradient(top, #763EF4, ##4B0DD7);
	background: -o-linear-gradient(top, #763EF4, #4B0DD7);
 	-webkit-border-radius: 5px;
 	-moz-border-radius: 5px;
 	border-radius: 5px;
 	vertical-align: middle;
 	
 	/*Button Text Styling*/
    text-align: center;
    font: 20px "verdana", sans-serif;
    color: #fff;
}


/* ----------- Search Field, Button, & Result ----------- */

input[type=text] {
margin:5px 5px 5px 0px;
padding:5px; 
border:2px solid #ccc; 
-webkit-border-radius: 5px;
border-radius: 5px;
}

input[type=text]:focus {border-color:#333; }

input[type=submit] {
	margin:5px 5px 5px 5px;
	padding:5px 15px; 
	background: #4B0DD7;
	
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px; 
	
	text-align: center;
    font: 18px "verdana", sans-serif;
    color: #fff;
}

#match {
	display:block;
	padding:8px 18px;
	float:left;
	color:#582BC1;
	margin: 20px 10px 20px 10px;
}






